::-webkit-scrollbar{display:none}body,
html{margin:0;padding:0;overflow-x:hidden}*{
padding:0;margin:0;font-family:'Thin 100 italic';scroll-behavior:smooth}@viewport
{zoom:1.0;width:extend-to-zoom}@-ms-viewport{width:extend-to-zoom;zoom:1.0}
.hero{margin-top:-3vh;margin-bottom:-3vh;height:110vh;width:100%;
background-image:url(../imgs/programer.jpg);background-size:cover;
background-position:center}.Navbar{width:100%;height:130px;
display:flex;align-items:center;position:fixed;justify-content:space-between;
background-color:rgba(255,209,220,.7);z-index:10}.logo{display:flex;width:10%}
.logo{cursor:pointer;padding:10px 25px;border-radius:30px;transition:transform .4s}
.logo:hover{transform:scale(1.3)}.Navbar ul li{list-style-type:none;display:inline-block
;padding:10px 25px}.Navbar ul li a{display:flex;flex-direction:row;
color:#fff;text-decoration:underline pink 5px;font-weight:700;text-transform:capitalize}
.Navbar ul li a:hover{color:#90ee90;transition:.4s}.text{position:relative;top:45%;left:8%}
span{color:#90ee90}h1{color:#fff;margin:20px 0 20px;font-size:70px;font-weight:500}
h2{color:#90ee90;font-size:25px;margin-bottom:50px}h1{display:block;
margin-inline-start:0;margin-inline-end:0}.service{margin:0;padding:0;
display:flex;flex-direction:column;background:#635147;width:100%;
padding:100px 0;align-items:center}.title h2{color:#90ee90;font-size:60px;width:1100px;
margin:20px auto;text-align:center;padding-top:3px;padding-bottom:50px}
.service-content{display:flex;flex-direction:row}.page img{width:80px;height:80px}
.page{display:flex;justify-content:space-around;margin:10px;align-items:center;
text-align:justify;min-height:350px;cursor:pointer}
.page{height:400px;width:350px;padding:20px;
background:#fff;border-radius:20px;margin:15px;position:relative;overflow:hidden;
text-align:center}.page i{font-size:50px;display:block;text-align:center;margin:25px 0;color:#fff}
.page:hover{transform:scale(1.1)}h5{color:pink;font-size:25px;margin-bottom:16px}
.pasus p{color:#000;font-size:25px;line-height:28px;margin-bottom:25px}
.about{margin:auto;width:100%;background-color:#635147;padding:10px 0}
.about img{height:auto;width:500px}.text-box{width:100%}.moja{width:1400px;max-width:100%
;margin:0 auto;display:flex;align-items:center;justify-content:space-around}
.text-box h3{color:#90ee90;font-size:80px;text-transform:capitalize;margin-bottom:50px;
margin-left:20px;white-space:nowrap}span{color:#90ee90}
.text-box h5{justify-content:center;display:flex;letter-spacing:2px;margin-bottom:50px;margin-right:20px;margin-left:10px}
.text-box p{margin-left:10px;color:#fff;letter-spacing:1px;line-height:28px;font-size:25px;margin-bottom:45px}
.skills{background-color:#635147;display:flex;flex-direction:column;padding:20px}.skilovi h2{color:#90ee90;
font-size:60px;margin:20px auto;text-align:center;padding-top:3px;padding-bottom:50px}.row{display:flex;justify-content:space-around}
.box{background-color:#fff;display:flex;flex-direction:column;width:350px;height:340px;border:1px solid #000;margin:10px;align-items:center;text-align:justify
;padding:10px;border-radius:15px;background:linear-gradient(to top,pink 50%,#fff 50%);background-size:100% 200%;transition:all .8s;cursor:pointer}
.box p{font-size:20px;font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;text-align:center;margin-left:2px;margin-right:2px}
.box:hover{background-position:left bottom}.box img{width:75px;height:75px}.projects{background-color:#635147;padding:20px 5px}.all-items{display:flex;flex-direction:row}
.section-heading{color:#90ee90;font-size:60px;margin:20px auto;text-align:center;padding-top:3px;padding-bottom:100px}.projects .item{display:flex;align-items:center;justify-content:center;
max-width:100%;margin:0 auto;margin-bottom:15rem}.projects .item:nth-child(even){flex-direction:row-reverse}.projects .item .left{flex:2}.projects .item .right{flex:2;cursor:pointer;
margin-left:-145px;background-color:var(--body-bg);padding:5rem 2rem;border-radius:12px;box-shadow:0 0 20px pink;z-index:2}.projects .item:nth-child(even) .right{margin-left:0}.projects .item:nth-child(even) 
.left{margin-left:-145px}.projects .item .left .img{display:flex;height:600px;width:400px;border-radius:12px}.projects .item .right:hover{transform:scale(1.1)}.project-sub-title{color:pink;font-size:25px;text-decoration:bold;
text-transform:capitalize;margin-bottom:20px}.project-description{font-size:20px;text-decoration:bold}.btn{background-color:pink;border:none;color:#fff;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px}
.contact{display:flex;flex-direction:column;box-sizing:border-box;background-color:#635147;color:#fff;padding:20px}.kontaktirati h2{color:#90ee90;font-size:80px;margin:20px auto;text-align:center;padding-top:3px;padding-bottom:50px}
.form{display:flex;flex-direction:column;box-sizing:border-box;align-items:center;margin:20px 0}.input{padding:12px;margin:15px;width:30%;border:none;outline:0}#msg{width:20%;padding:10px;margin:15px;border:none;outline:0}#send{width:10%;padding:10px;margin:40px;border:none;outline:0}
#send:hover{cursor:pointer;box-shadow:0 0 10px #fff}.blok{background-color:#90ee90;width:100%;border-radius:9px;padding:0;box-sizing:border-box}.blok1{text-align:center;justify-content:space-around;text-decoration:underline;font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;font-size:20px;color:#000}
.blok1 a{color:#000}