@media screen and (max-width: 301px){
    .hero{
        width: 110%;
    }
    .Navbar{
        width: 80%;
    }
    .Navbar .logo{
        width:10%;
    }
    .service{
        width: 110%;
    }
    .service h2{
        font-size: 45px;
        margin-right: 30px;
    }
    .service-content .page{
        width: 70%;
    }
    .about{
        width: 110%;
    }
    .about img{
        width: 200px;
    }
    .skills{
        width: 110%;
    }
    .skilovi h2{
        font-size: 55px;
        margin-right: 55px;
    }
    .row .box{
        width: 190px;
        margin-right: 55px;
        height: 300px;
    }
    .projects{
        width: 110%;
    }
    .projects h2{
        font-size: 55px;
        margin-right: 50px;
    }
    .projects .item{
        margin-bottom: 5rem;
        width: 400px;
    }
    .projects .item .right{
        margin-left: -400px;
    }
    .contact{
        width: 110%;
    }
    .kontaktirati h2{
        font-size: 50px;
        margin-right: 30px;
    }
    .contact .form #send{
        width: 20%;
    }
    .blok{
        width: 110%;
    }
}
@media screen and (max-width: 320px){
    .hero{
        width: 100%;
    }
    .Navbar{
        width: 100%;
        height: 200px;
    }
    .logo{
        width: 100px;
    }
    .Navbar ul{
        text-align:left;
        display: flex;
        flex-direction: column;
    }
    h1{
        display: flex;
        flex-direction: column;
    }
    .service{
        width: 150%;
    }
    .service h2{
        margin-left: -130px;
        font-size: 35px;
    }
    .service-content > .page{
        height: 200px;
        min-height: 220px;
        padding: 0 10px;
        margin-bottom: 10%;
        margin-left: 13%;
        width: 37%;
        overflow: hidden;
        padding-top: 0 !important;
        padding-bottom: 0!important;
    }
    .page > .web{
        padding: 0;
    }
    .service-content .page p{
        font-size: 15px;
        line-height: 16pt;
        padding: 0;
    }
    .service-content .page h5{
        font-size: 20px;
    }
    .service-content .page img{
        width: 35px;
        height: 35px;
    }
    .about{
        width: 200%;
    }
    .about img {
        margin-left: -300px;
        width: 200px;
    }
    .text-box{
        margin-left: -300px;
    }
    .text-box h3{
        font-size: 35px;
    }
    .skills{
        width: 200%;
    }
    .skills .skilovi{
        margin-left: -350px;
    }
    .skilovi h2{
        margin-left: 8px;
        font-size: 35px; 
    }
    .row .box{
        margin-left: -300px;
        width: 30%;
        height: 190px;
    }
    .row .box p{
        font-size: 13px;
    }
    .row .box img{
        width: 30px;
        height: 30px;
    }
    .row .box h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .projects{
        width: 200%;
    }
    .projects h2{
        margin-left: -320px;
        font-size: 35px;
    }
    .projects .item{
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        margin-left: -86px;
    }
    .projects .item .right{
        margin-left: 100px;
        padding: 0rem 1rem;
        width: 200px;
    }
    .projects .item .left .img{
        width: 100% !important;
        margin-left: 80px;
        height: 350px;
        margin-right: -50px;
    }
    .projects .right h2{
        margin-left: 100px;
        font-size: 30px;
        margin-bottom: 15px;
    }
    .left-item .right{
        margin-top: -50px;
    }
    .left-item .right h2{
        margin-left: 10px;
    }
    .left-item .left{
        max-width: 100%;
    }
    .right-item{
        width: 75% !important;
    }
    .right-item .left{
        width: 100% !important;
    }
    .item-right{
        margin-left: 200px;
    }
    .left-item{
        width: 400px;
    }
    .projects .item:nth-child(even) .left {
        margin-left: 100px;
        margin-right: 10px;
    }   
    .projects .item:nth-child(even) .right {
        margin-left: -20px;
    }    
    .right-item .right{
        margin-top: -50px;
    } 
    .contact{
        width: 200%;
    }
    .contact .kontaktirati{
        margin-left: -300px;
    }
    .kontaktirati h2{
        font-size: 35px;
    }
    .contact .form{
        margin-left: -295px;
    }
    .kontaktirati h2{
        margin-right: 2px;
    }
    .contact .form #send{
        width: 10%;
    }
    .input{
        width: 19%;
    }
    .blok{
        width: 200%;
    }
    .blok1{
        margin-left: -320px;
    }
}
