@media screen and (max-width: 497px){
    .hero{
        width: 100%;
    }
    .Navbar{
        width: 100%;
    }
    .service{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .about .moja{
        display: flex;
        flex-direction: column;
        width: 100px;
    }
    .text-box{
        max-width: 200%;
    }
    .text-box h3 {
        max-width: 200px;
    }
    .skills{
        width: 100%;
        margin-right: 200px;
    }
    .row .box{
        margin-right: 55px;
    }
    .row .box p{
        text-align: justify;
    }
    .projects{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
    .blok{
        width: 100%;
    }
    .skilovi h2{
        font-size: 65px;
        margin-left: 0px;
    }
    .text-box h3{
        width: 100px;
    }
    .form #send{
        width: 90px;
    }
}
@media screen and (max-width: 400px){
    .Navbar {
        width: 100%;
    }
    .logo{
        width:20%;
    }
    .Navbar ul{
        column-count: 2;
    }
    .Navbar h1{
        font-size: 10px;
    }
    .text .linija{
        font-size: 50px;
    }
    .Navbar .linija h1{
        font-size: 5px;
        width: 5%;
    }
    .contact .form #send{
        width: 30%;
    }
    .row .box{
        width: 300px;
        margin-left: -20px;
    }
    .hero{
        width: 110%;
    }
    .service{
        width: 110%;
    }
    .service h2{
        font-size: 45px;
        margin-right: 35px;
    }
    .service-content .page{
        width: 50%;
        margin-left: 70px;
        height: 200px;
        min-height: 190px;
    }
    .service-content .page h5{
        margin-bottom: -5px;
        font-size: 23px;
    }
    .service-content .page img{
        width: 40px;
        height: 40px;
    }
    .service-content .page p{
        font-size: 18px;
        margin-top: 5px;
    }
    .about{
        width: 110%;
    }
    .moja img{
        margin-left: -40px;
        width: 250px;
    }
    .moja .text-box{
        width: 200%;
    }
    .text-box p{
        margin-left: 0px;
    }
    .text-box h3{
        font-size: 40px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .skills{
        width: 110%;
    }
    .skilovi h2{
        margin-left: -100px;
        font-size: 40px;
    }
    .row .box{
        margin-left: -30px;
        width: 50%;
        height: 190px;
    }
    .row .box p{
        font-size: 13px;
    }
    .row .box img{
        width: 30px;
        height: 30px;
    }
    .row .box h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .projects{
        width: 110%;
    }
    .projects h2{
        margin-left: -60px;
        font-size: 40px;
    }
    .projects .right h2{
        margin-left: 50px;
    }
    .all-items .item{
        display: flex;
        flex-direction: column;
    }
    .left-item .right{
        margin-top: -130px;
    }
    .right-item{
        display: flex !important;
        flex-direction: column !important;
    }
    .right-item .right{
        margin-top: -135px;
    }
    .right-item .left{
        width: 100%;
    }
    .projects .item{
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        margin-left: -100px;
    }
    .projects .item .right{
        margin-left: 100px;
        padding: 0rem 1rem;
        width: 200px;
    }
    .projects .item .left .img{
        width: 100% !important;
        margin-left: 80px;
        height: 350px;
        margin-right: -100px;
    }
    .projects .right h2{
        margin-left: 100px;
        font-size: 30px;
        margin-bottom: 15px;
    }
    .left-item .right{
        margin-top: -50px;
    }
    .left-item .right h2{
        margin-left: 10px;
    }
    .left-item .left{
        max-width: 100%;
    }
    .right-item{
        width: 75% !important;
    }
    .right-item .left{
        width: 100% !important;
    }
    .item-right{
        margin-left: 200px;
    }
    .left-item{
        width: 400px;
    }
    .projects .item:nth-child(even) .left {
        margin-left: 160px;
        margin-right: 10px;
    } 
    .projects .item:nth-child(even) .right {
        margin-left: 160px;
    }      
    .right-item .right{
        margin-top: -50px;
    }
    .right-item .right h2{
        margin-left: 15px;
    } 
    .contact{
        width: 110%;
    }
    .blok{
        width: 110%;
    }
    .kontaktirati h2{
        margin-left: -50px;
        font-size: 40px;
    }
    .input{
        margin-left: -30px;
        width: 180px;
    }
    .contact .form #send{
        margin-left: -20px;
    }
    #msg{
        margin-left: -30px;
        width: 200px;
    }
    .blok1{
        margin-left: -60px;

    }
}