@media screen and (max-width: 497px){
    .hero{
        width: 100%;
    }
    .Navbar{
        width: 80%;
    }
    .service{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .about .moja{
        display: flex;
        flex-direction: column;
    }
    .text-box{
        max-width: 300%;
    }
    .skills{
        width: 100%;
        margin-right: 200px;
    }
    .row .box{
        margin-right: 55px;
    }
    .row .box p{
        text-align: justify;
    }
    .projects{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
    .blok{
        width: 100%;
    }
    .skilovi h2{
        font-size: 65px;
        margin-left: 0px;
    }
    .text-box h3{
        width: 100px;
    }
}
@media screen and (max-width: 400px){
    .Navbar {
        height: 250px;
    }
    .logo{
        width:50%;
    }
    .Navbar h1{
        font-size: 10px;
    }
    .text .linija{
        font-size: 50px;
    }
    .Navbar .linija h1{
        font-size: 5px;
        width: 5%;
    }
    .contact .form #send{
        width: 30%;
    }
    .row .box{
        width: 300px;
        margin-left: -20px;
    }
    .hero{
        width: 110%;
    }
    .Navbar{
        width: 50%;
    }
    .service{
        width: 110%;
    }
    .service-content .page{
        width: 75%;
    }
    .about{
        width: 110%;
    }
    .moja img{
        margin-left: -40px;
    }
    .skills{
        width: 110%;
    }
    .skilovi h2{
        margin-left: -50px;
    }
    .projects{
        width: 110%;
    }
    .projects h2{
        margin-left: -40px;
    }
    .projects .right h2{
        margin-left: 50px;
    }
    .all-items .item .left .right{
        margin-top: -145px;
    }
    .all-items .item{
        display: flex;
        flex-direction: column;
    }
    .contact{
        width: 110%;
    }
    .blok{
        width: 110%;
    }
    .kontaktirati h2{
        margin-left: -30px;
        font-size: 60px;
    }
    .blok1{
        margin-left: -50px;

    }
}