@media screen and (max-width: 1112px){
    .service-content{
        display: flex;
        flex-direction: column;
    }
    .box p{
        font-size: 15px;
        padding: 0;
    }
    .row .box{
        height: 350px;
    }
    .text-box{
        max-width: 30%;
    }
}
@media screen and (max-width: 889px){
    .Navbar ul li{
        list-style-type: none;
        display: inline-block;
        padding: 0px 10px;
    }
    .about img{
        width: 350px;
    }
    .text-box {
        width: 200px;
    }
    .text-box h3{
        font-size: 45px;
    }
    .text-box h5{
        justify-content:center;
        display: flex;
        letter-spacing: 2px;
        margin-bottom: 50px;
        margin-right: 20px;
        margin-left: 10px;
        font-size: 15px;
    }
    .text-box p{
        justify-content: center;
        letter-spacing: normal;
        font-size: 15px;;
    }
}

